# Ignore PyTorch model weight files
*.pth

# Ignore zipped datasets
*.zip

# Ignore specific large data directories
data/
Lab6/faces/

# Ignore Python compiled files
__pycache__/

# Ignore Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Ignore flick8k dataset
Lab15/flickr8k/

# Ignore these large files
Lab15/flickr8k.zip
Lab15/captions_embeddings.pt
captions_embeddings.pt

Lab15/captions_embeddings.pt
Lab15/flickr8k.zip
